<!DOCTYPE html>
<html>
  <head>
	<title>Bookings</title>

  </head>

	<body>

<h2>Список записавшихся</h2>
<% @clients.each do |client| %>
<lu>
<li><a href="/client/<%= client.id %>"><%= client.name %></a></li>
<% end %>
</lu>
  </body>
</html>
