<!DOCTYPE html>
<html>
  <head>
	<title>Client page</title>

  </head>

	<body>

<h2>Client page</h2>
<lu>
<li>Name: <%= @client.name %></li>
<li>Phone: <%= @client.phone %></li>
<li>Datetime: <%= @client.datestamp %></li>
</lu>
  </body>
</html>
