<!DOCTYPE html>
<html>
	<head>
		<title>BarberShopHQ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/jquery.simplecolorpicker.js"></script>
	<link  href="/jquery.simplecolorpicker.css"  rel="stylesheet">
		
		
	</head>
	<body style="background-color: lavender;">
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-inverse" role="navigation">

			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>

			    <a class="navbar-brand" href="/">Наши парикмахеры</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/visit">Записаться</a></li>			      
			      <%# <li><a href="/contacts">Contacts</a></li> %>
			      <li><a href="/bookings">Список записавшихся</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>
			<div>
    <img src="https://barber-shop.su/wp-content/uploads/2019/04/kak-podobrat-strigku.jpg" alt="Haircut-1" width="220" height="188">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm_vagQcFG491jHUY5v0nYO9WJfht3BbYGag&usqp=CAU" alt="Haircut-2" width="188" height="188">
  
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvIdmOXWuCsMM3c0HhsWinnrmEmz4qPGL0bQ&usqp=CAU" alt="Haircut-3" width="188" height="180">

    <img src="https://static.tildacdn.com/tild6266-6139-4531-b431-313864393461/06-a-French-crop-wit.jpg" alt="Haircut-4" width="188" height="188">
  </div>
   <br/>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>


  </body>
</html>
