<!DOCTYPE html>
<html>
  <head>

   <script src="/jquery.datetimepicker.full.min.js"></script>
  <link rel="stylesheet" href="/jquery.datetimepicker.min.css">

  <title>book a haircut</title>

  </head>
  <body>

<h2>Прихмахерская</h2>

<p>На этой странице вы можете записаться к нам в BarbershopeHQ</p>

<form action="/visit" method="POST">

  <br />
  <br />
<p>Наши прихмахеры:</p>
<select class="form-select" 
 aria-label="Default select example" name="client[barber]">

 <% @barbers.each  do |barber| %>
 <option selected ><%= barber.name %></option>
  
<% end %>
</select>  
 <br />
 <br />

  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control ccc" placeholder="Введите ваше имя" value="<%= @c.name %>" >
  </div>

 <div class="mb-3">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control ccc" placeholder="Введите ваш телефон" value="<%= @c.phone %>" >
  </div>

  <div class="mb-3">
    <label>Когда вас ждать</label>
    <input name="client[datestamp]" id="datetimepicker" type="text" class="form-control ccc"
    placeholder="Введите дату и время" value="<%= @c.datestamp %>" >
    <label></label>
  </div>

   
  <div class="mb-3">
<label>Цвет краски:</label>
<select id="color" name="client[color]">
    <option value="none">None</option>
    <option value="green">Green</option>  
    <option value="blue">Blue</option>
    <option value="turquoise">Turquoise</option>
    <option value="yellow">Yellow</option>
    <option value="orange">Orange</option>
    <option value="red">Red</option>
    <option value="purple">Purple</option>
    <option value="gray">Gray</option>
    <option value="chartreuse">Chartreuse</option>    
    <option value="black ">Black</option>
      
  </select>
</div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form> 

<script type="text/javascript">
 
  $(function(){
    $('#color').simplecolorpicker();
    $('.ccc').css('background-color','#add8e6');  
    $('#aaa').css('background-color','#b0e0e6');
    $('#datetimepicker').datetimepicker();
  });
  //It's right for jQuery !
  </script>

   </body>
</html>