<!DOCTYPE html>
<html>
  <head>

   <script src="/jquery.datetimepicker.full.min.js"></script>
  <link rel="stylesheet" href="/jquery.datetimepicker.min.css">

  <title>booking a haircut</title>

  </head>
  <body>

<h2 style="text-align:center;">Добро Пожаловать в наш Barber Shope HQ. :-)</h2>

<p style="text-align:center; font-size:140%">На этой странице вы можете записаться к нашим мастерам. </p>

<form action="/visit" method="POST">

  <br />
  <br />
<p>Наши прихмахеры:</p>
<select class="form-select" 
 aria-label="Default select example" name="client[barber]">

 <% @barbers.each  do |barber| %>
 <option selected ><%= barber.name %></option>
  
<% end %>
</select>  
 <br />
 <br />

  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control ccc" placeholder="Введите ваше имя" value="<%= @c.name %>" >
  </div>

 <div class="mb-3">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control ccc" placeholder="Введите ваш телефон" value="<%= @c.phone %>" >
  </div>

  <div class="mb-3">
    <label>Когда вас ждать</label>
    <input name="client[datestamp]" id="datetimepicker" type="text" class="form-control ccc"
    placeholder="Введите дату и время" value="<%= @c.datestamp %>" >
    <label></label>
  </div>

   
  <div class="mb-3">
<label>Цвет краски:</label>
<select id="color" name="client[color]">
    <option value="none">None</option>
      <option value="WhiteSmoke">White Smoke</option>
      <option value="navajowhite">Navajo White</option>
      <option value="Crimson">Crimson</option>
      <option value="Maroon">Maroon</option>
      <option value="chocolate">chocolate</option>
      <option value="MediumSlateBlue">Medium Slate Blue</option>
      <option value="Black">Black</option>
      <option value="HotPink">Hot Pink</option>
      <option value="DeepPink">Deep Pink</option>     
      <option value="purple">Purple</option> 
      <option value="Gold">Gold</option>    
  </select>
</div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form> 

<script type="text/javascript">
 
  $(function(){
    $('#color').simplecolorpicker();
    $('.ccc').css('background-color','#add8e6');  
    $('#aaa').css('background-color','#b0e0e6');
    $('#datetimepicker').datetimepicker();
  });
  //It's right for jQuery !
  </script>

   </body>
</html>